
.box{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    background: whitesmoke;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* padding-left: 100px; */
    
    margin:auto;
   
}
.mainContent{
    width: 100%;
    margin: auto;
}
body{
    width: 100vw;
}
h2{
    padding-left: 25px
}
.icon{
  

    margin-right:2%
    
}
.user{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   /* margin:auto; */
    background-color: whitesmoke;
    /* border: 5px solid black; */
    width: 360px;
    height:255px;
    text-align: center;
}

.pictureContainer{
 
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.picture{
    height: 40px;
    width: 40px;
}

.info{
    display :flex;
    flex-direction: column; 
    width:200px;
    text-align: left;
    margin-right: 15%
  
}
a{
    color:black;
  
}
a:hover {
color: #6441a5
} 

img{
    border-radius: 4px;
    border: 1px solid black;
    margin: 5px;
}
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 35px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(0,0,0,.6);
    border-radius: 2px;
    font-size: .8rem;
  }
  .preview{
    position: relative;
    text-align: center;
    color: white;
  }
div{
    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
}

.loading{
    display:flex;
    justify-content: center;
    margin-top: 280px;
  
}
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    position: relative;
    margin: auto;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 6px;
    border-radius: 50%;
    background: #6441A4 ;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  