
.box{
    display: flex;
    justify-content: flex-start;
    background: #6441a5;
    /* padding-left: 400px; */
    flex-wrap: wrap;
   
}
.icon{
  
    margin-top: 2%;
    margin-right:2%
    
}
.user{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px;
    background-color: #6441a5;
    border: 5px solid black;
    width: 360px;
    height:255px;
    text-align: center;
}

.pictureContainer{
 
    display: flex;
    justify-content: center;
    flex-direction: row;
    

}
.picture{
    height: 40px;
    width: 40px;
}

.info{
    display :flex;
    flex-direction: column; 
    width:200px;
    text-align: left;
    margin-right: 15%
  
}
a{
    color:black
}

img{
    border-radius: 10px;
    border: 1px solid black;
    margin: 5px
}

div{
    
    
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    
}

